POSTGRES_DB=appdb
POSTGRES_USER=appuser
POSTGRES_PASSWORD=apppass
GEMINI_API_KEY=AIzaSyB94yirHQqWAszQHPwgEWipAlKf1-YtBag
# SUPABASE_KEY=postgresql://postgres:vidpah-8Bucba-wybsuq@db.jvuwxcjoenbonytfhojk.supabase.co:5432/postgres